<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
  <h2 >Liste des films (Quête Directive)</h2>
  <div *appShowMovies="showMovies" class="card">
    <ul *ngFor="let movie of movieList">
      <li *ngIf="movie.index=='1'; then item1 else item2"></li>
      <ng-template #item1><li class="container misEnForme" appHightLight>{{movie.name}}</li></ng-template>
      <ng-template #item2><li class="container misEnForme" >{{movie.name}}</li></ng-template>
    </ul>
  </div>
  <hr>
</div>


<app-menu></app-menu>

<router-outlet></router-outlet>
