h2{
  text-align: center;
  color: darkblue;
}
.titre{
  color:mediumseagreen ;
}
.form {

  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.form div + div {
  margin-top: 1em;
}

.part2{
  padding: 1em;
  margin: 0 auto;

  background-color:lightgray;
}
p{
  color: coral;
}
